header {
  text-align: center;
}

header h1 {
  color: aquamarine;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: blue;
  text-decoration: none;
}

header nav div {
  font-size: larger;
  border-radius: 15px;
  background-color: rgb(53, 109, 78);
  color: rgb(208, 188, 214);
  width: 200px;
  height: 30px;
  transition: background-color .2s, color .2s;
  padding: 7px;
}

header nav div:hover {
  background-color: antiquewhite;
  color: aqua;
}

body {
  background-color: rgb(24, 63, 145);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
